.create-container{
    width: 800px;
    height: 530px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 7%;
    margin-left: 20%;
    border-radius: 1rem;
    cursor: pointer;
}

.sec_create_container{
    position: absolute;
    top: 0;
    left: 0;
}

.sec_create_container img {
    width: 290px;
    height: 530px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
}

.thir_create_container {
    position: absolute;
    top: -3rem;
    right: 0%;
    width: 506px;
    text-align: center;
    /* border: 2px solid red; */
}

.thir_create_container h1{
    font-weight: 100;
}

.create_acc {
    display:  flex;
    justify-content: space-evenly;
    width: auto;
}
.create_acc input {
    padding: 0.8rem;
    border-radius: 3rem;
    width: 14rem;
    border: 1px solid red;
}

.create_mail{
    width: 28rem;
    padding: 0.9rem;
    border-radius: 3rem;
    border: 1px solid red;
}

.password {
    display:  flex;
    justify-content: space-around;
    width: auto;
}
.create_psw {
    padding: 0.8rem;
    border-radius: 3rem;
    width: 14rem;
    border: 1px solid red;
}

.reg_btn_1 {
    width: 28rem;
    padding: 0.9rem;
    border-radius: 3rem;
    background-color: rgb(54, 150, 246);
    color: white;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}

.reg_btn_1:hover {
    transition: 0.3s;
    background-color: rgb(24, 135, 247);
}

.reg_btn_2 {
    width: 28rem;
    padding: 0.9rem;
    border-radius: 3rem;
    background-color:rgb(255, 81, 0);
    border: none;
    transition: 0.3s;
    color:  white;
    cursor: pointer;
}

.reg_btn_2:hover {
    background-color:rgb(216, 81, 19);
    transition: 0.4s;
}

.reg_btn_3 {
    width: 28rem;
    padding: 0.9rem;
    border-radius: 3rem;
    background-color: rgb(61, 61, 201);
    transition: 0.3s;
    color: white;
    border: none;
    cursor: pointer;
}

.reg_btn_3:hover {
    background-color:rgb(16, 29, 150);
    transition: 0.4s;   

}

.ss{
    width: 26rem;
    margin-left: 2rem;
}
.acc_link{
    text-decoration: none;
}

.acc_link:hover{
    text-decoration: underline;
    cursor: pointer;
}